body {
    font-family: "Noto Sans",Arial,sans-serif;
    font-size: 1rem;
    font-weight: 300;
    color: blanchedalmond;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background: linear-gradient(180deg, #07131c, #305472);
}

main {
    margin-left: 10vw;
    margin-top: 10vh;
    height: 80vh;
    width: 80vw;
}

article {
    font-family: "Noto Serif",serif;
    font-size: 1.1rem;
    background-color: #20203a;
    border: 1px solid midnightblue;
    border-radius: 8px;
    padding: 2% 5%;
    z-index: 1000;
    overflow-y: auto;
}

article a {
    color: blanchedalmond;
    text-decoration: none;
    font-weight: 400;
}

h1 {
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
}
